body{
    font-family: 'poppins', sans-serif;
    background-color:rgb(253, 253, 255);
    transition: 0.5s;
}

body.dark-mode{
    background-color: rgba(3, 3, 3, 0.918);
}

.login-box{
    background: rgba(#ffffff);
    box-shadow: 0px 8px 20px 0 rgb(12, 25, 73, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 30px;
    border:2px solid rgba(0, 0, 0, 0.18);
    width: 25%;
    margin: auto;
    margin-top: 10%;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    transition: 0.5s;
}

@media only screen and (max-width: 768px){
    .login-box{
        width: 75%;
    }
}

@media only screen and (max-width:1366px){
    .login-box{
        width: 75%;
    }
}

.login-box h1{
    text-align: center;
    color: #232c3d;
    transition: 0.5s;
}

 .login-box h1.dark-mode{
    color: white;
 }

 .theme{
    display:flex;
    justify-content: flex-end;
    padding: 10px;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

input{
    width: 80%;
    margin-bottom: 20px;
    border:2px solid rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    transition: 0.5s;
}

input.dark-mode{
    background-color: #4a4a4a;
    color:#ffffff;
}

input:focus{
    outline: none;
}

form button {
    width: 40%;
    border:2px solid rgba(0, 0, 0, 0.18);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(71, 71, 71);
    transition: 0.5s;
}

form button.dark-mode{
    background-color: #4a4a4a;
    color: #f0f5ff;
}

form button:hover{
    cursor: pointer;
    background-color: #9b0000;
}

form button.dark-mode:hover{
    background-color: #9b0000;
}

form button:focus{
    outline: none;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 48%;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
    border-radius: 34px;
    transition: 0.5s;
}

.slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(62, 62, 62);
    border-radius: 50%;
    transition: 0.5s;
}

.switch input:checked + .slider{
    background-color: #989898;
}

.switch input:checked + .slider:before {
    transform: translateX(26px);
} 